<div id="map" 
	n:attr="
		data-component-name => $componentName,
		data-collection-retrieval-address => $collectionRetrievalAddress,
		data-filters-component => $filtersComponent,
		data-clickevent => $clickEvent,
		data-initial-zoom => $initialZoom,
		data-initial-center-lat => $initialCenterLatitude,
		data-initial-center-lng => $initialCenterLongitude
"></div>
<script src="//maps.googleapis.com/maps/api/js?{if $key}key={$key}&amp;{/if}sensor=true"></script>